Repository team-mobi/mobi-client, pull requests merged in 2024-06, with the labels that each got.

#2 [MOBI-3-프론트-환경-세팅] Fix: React 버전을 자동으로 명시해줍니다.
  packages/config-eslint/next.js
  packages/config-eslint/react-internal.js
Labels: 🎇Fix

#4 [MOBI-22-apply-page-desktop-publishing] feat: apply page 퍼블리싱을 완료한다.
  apps/academy/app/apply/page.tsx
  apps/academy/assets/font/Pretendard-Black.ttf
  apps/academy/assets/font/Pretendard-Bold.ttf
  apps/academy/assets/font/Pretendard-ExtraBold.ttf
  apps/academy/assets/font/Pretendard-ExtraLight.ttf
  apps/academy/assets/font/Pretendard-Light.ttf
  apps/academy/assets/font/Pretendard-Medium.ttf
  apps/academy/assets/font/Pretendard-Regular.ttf
  apps/academy/assets/font/Pretendard-SemiBold.ttf
  apps/academy/assets/font/Pretendard-Thin.ttf
  apps/academy/public/font/Pretendard-Black.woff
  apps/academy/public/font/Pretendard-Bold.woff
  apps/academy/public/font/Pretendard-ExtraBold.woff
  apps/academy/public/font/Pretendard-ExtraLight.woff
  apps/academy/public/font/Pretendard-Light.woff
  apps/academy/public/font/Pretendard-Medium.woff
  apps/academy/public/font/Pretendard-Regular.woff
  apps/academy/public/font/Pretendard-SemiBold.woff
  apps/academy/public/font/Pretendard-Thin.woff
  apps/academy/public/next.svg
  apps/academy/public/svg/calender.svg
  apps/academy/public/svg/chat.svg
  apps/academy/public/svg/computer.svg
  apps/academy/public/svg/ellipse.svg
  apps/academy/public/svg/idea.svg
  apps/academy/public/svg/mail.svg
  apps/academy/public/svg/music.svg
  apps/academy/public/svg/send.svg
  apps/academy/public/vercel.svg
  apps/academy/public/webp/apply-description-1.webp
  apps/academy/public/webp/apply-description-2.webp
  apps/academy/public/webp/apply-middle-banner.webp
  apps/academy/public/webp/apply-top-banner.webp
  apps/academy/src/common/font/index.ts
  apps/academy/src/common/font/pretendard.ts
  apps/academy/src/common/styles/globals.css
  apps/academy/src/feature/link/lib/index.ts
  apps/academy/src/feature/link/lib/use-move-to-apply-link.ts
  apps/academy/src/feature/link/ui/ApplyButton.tsx
  apps/academy/src/feature/link/ui/index.ts
  apps/academy/src/types/index.d.ts
  apps/academy/src/view/ApplyPage.tsx
  apps/academy/src/view/index.ts
  apps/academy/src/widget/apply/ui/ApplyCard.tsx
  apps/academy/src/widget/apply/ui/ApplyCardList.tsx
  apps/academy/src/widget/apply/ui/ApplyPriceBanner.tsx
  apps/academy/src/widget/apply/ui/ApplyScheduleBanner.tsx
  apps/academy/src/widget/apply/ui/ApplyScheduleCard.tsx
  apps/academy/src/widget/apply/ui/ApplyScheduleCardList.tsx
  apps/academy/src/widget/apply/ui/ApplySection.tsx
  apps/academy/src/widget/apply/ui/ApplyTopBanner.tsx
  apps/academy/src/widget/apply/ui/BenefitCard.tsx
  apps/academy/src/widget/apply/ui/BenefitCardList.tsx
  apps/academy/src/widget/apply/ui/DescriptionCard.tsx
  apps/academy/src/widget/apply/ui/DescriptionCardList.tsx
  apps/academy/src/widget/apply/ui/index.ts
  packages/config/tailwind.config.js
  packages/ui/src/button.tsx
  pnpm-lock.yaml
  turbo.json
Labels: ⚡Feat

#6 [Mobi-21-landing-page-top-desktop-publishing] Feat: landing page top 부분 퍼블리싱 작업을 완료합니다.
  apps/academy/app/layout.tsx
  apps/academy/public/webp/landing/landing-top-banner-bg.webp
  apps/academy/public/webp/landing/landing-top-image-1.webp
  apps/academy/public/webp/landing/landing-top-image-2.webp
  apps/academy/public/webp/landing/landing-top-image-3.webp
  apps/academy/public/webp/landing/landing-top-image-4.webp
  apps/academy/public/webp/landing/landing-top-image-5.webp
  apps/academy/public/webp/landing/landing-top-image-6.webp
  apps/academy/src/common/styles/globals.css
  apps/academy/src/feature/link/ui/NavigationButton.tsx
  apps/academy/src/feature/link/ui/index.ts
  apps/academy/src/feature/nav/constants/index.ts
  apps/academy/src/feature/nav/constants/navTabs.ts
  apps/academy/src/feature/nav/lib/index.ts
  apps/academy/src/feature/nav/lib/use-nav-tab.ts
  apps/academy/src/feature/nav/ui/NavBar.tsx
  apps/academy/src/feature/nav/ui/index.ts
  apps/academy/src/feature/scroll/lib/index.ts
  apps/academy/src/feature/scroll/lib/use-scroll-layout-change.ts
  apps/academy/src/feature/scroll/ui/MobiDescriptionWithScrollEvent.tsx
  apps/academy/src/feature/scroll/ui/index.ts
  apps/academy/src/view/LandingPage.tsx
  apps/academy/src/widget/landing/constants/MobiDescription.ts
  apps/academy/src/widget/landing/constants/index.ts
  apps/academy/src/widget/landing/ui/MainBanner.tsx
  apps/academy/src/widget/landing/ui/MobiDescriptionCard.tsx
  apps/academy/src/widget/landing/ui/MobiDescriptionCardList.tsx
  apps/academy/src/widget/landing/ui/MobiDescriptionImagesSlider.tsx
  apps/academy/src/widget/landing/ui/index.ts
  apps/academy/src/widget/nav/Nav.tsx
  packages/config/tailwind.config.js
  packages/ui/src/button.tsx
  packages/ui/src/imageSlider.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Labels: ⚡Feat

#7 [MOBI-29-faq] 자주 묻는 질문 Section 퍼블리싱 작업을 완료합니다.
  apps/academy/public/webp/arrow-down.webp
  apps/academy/src/feature/link/ui/FAQToggleButton.tsx
  apps/academy/src/feature/link/ui/index.ts
  apps/academy/src/view/LandingPage.tsx
  apps/academy/src/widget/landing/constants/faq-list.ts
  apps/academy/src/widget/landing/constants/index.ts
  apps/academy/src/widget/landing/ui/FAQCard.tsx
  apps/academy/src/widget/landing/ui/FAQCardList.tsx
  apps/academy/src/widget/landing/ui/FAQSection.tsx
  apps/academy/src/widget/landing/ui/index.ts
  packages/hook/src/index.ts
  packages/hook/src/use-toggle.ts
Labels: ⚡Feat

#9 [MOBI-28-curriculum-schedule-desktop-publishing] 커리큘럼 및 일정 데스크탑 퍼블리싱을 완료합니다.
  apps/academy/public/svg/landing/axios.svg
  apps/academy/public/svg/landing/css.svg
  apps/academy/public/svg/landing/git.svg
  apps/academy/public/svg/landing/html.svg
  apps/academy/public/svg/landing/js.svg
  apps/academy/public/svg/landing/next-js.svg
  apps/academy/public/svg/landing/react.svg
  apps/academy/public/svg/landing/reactquery.svg
  apps/academy/public/svg/landing/recoil.svg
  apps/academy/public/svg/landing/rhf.svg
  apps/academy/public/svg/landing/storybook.svg
  apps/academy/public/svg/landing/styled-component.svg
  apps/academy/public/svg/landing/tailwind-css.svg
  apps/academy/public/svg/landing/ts.svg
  apps/academy/public/svg/landing/vite.svg
  apps/academy/public/svg/range-ellipse.svg
  apps/academy/src/feature/rolling/lib/index.ts
  apps/academy/src/feature/rolling/lib/use-clone-roliing-banner.ts
  apps/academy/src/feature/rolling/ui/StackBanner.tsx
  apps/academy/src/feature/rolling/ui/index.ts
  apps/academy/src/view/LandingPage.tsx
  apps/academy/src/widget/landing/constants/curriculumSchedule.ts
  apps/academy/src/widget/landing/constants/index.ts
  apps/academy/src/widget/landing/constants/stackImages.ts
  apps/academy/src/widget/landing/ui/CurriculumScheduleCard.tsx
  apps/academy/src/widget/landing/ui/CurriculumScheduleContents.tsx
  apps/academy/src/widget/landing/ui/CurriculumScheduleSection.tsx
  apps/academy/src/widget/landing/ui/FAQCard.tsx
  apps/academy/src/widget/landing/ui/FAQSection.tsx
  apps/academy/src/widget/landing/ui/index.ts
  packages/config/tailwind.config.js
  packages/util/src/date-formatter.ts
  packages/util/src/get-boundary-props.ts
  packages/util/src/index.ts
Labels: ⚡Feat

#10 [MOBI-31-env] Feat: env 설정을 추가합니다.
  .editorconfig
  apps/academy/.env.sample
  apps/academy/next.config.js
  apps/academy/src/feature/link/lib/index.ts
  apps/academy/src/feature/link/lib/use-move-to-apply-link.ts
  apps/academy/src/feature/link/ui/ApplyButton.tsx
  apps/academy/src/types/index.d.ts
  apps/academy/turbo.json
  apps/lms/.env.sample
  apps/lms/turbo.json
  apps/storybook/turbo.json
  packages/ui/src/button.tsx
  packages/util/src/blank-opener.ts
  packages/util/src/index.ts
  pnpm-lock.yaml
  turbo.json
Labels: ⚡Feat

#11 [MOBI-31-env] Refactor: apply 페이지를 리팩토링을 진행하였습니다.
  README.md
  apps/academy/app/apply/page.tsx
  apps/academy/public/og/apply.png
  apps/academy/public/og/mobi.png
  apps/academy/src/feature/link/ui/ResponsiveSupportedApplyButton.tsx
  apps/academy/src/feature/link/ui/index.ts
  apps/academy/src/view/ApplyPage.tsx
  apps/academy/src/widget/apply/constants/apply-card-items.tsx
  apps/academy/src/widget/apply/constants/apply-content.ts
  apps/academy/src/widget/apply/constants/description-items.ts
  apps/academy/src/widget/apply/constants/index.ts
  apps/academy/src/widget/apply/constants/operating-cost-items.ts
  apps/academy/src/widget/apply/constants/schedule-items.ts
  apps/academy/src/widget/apply/ui/ApplyBox.tsx
  apps/academy/src/widget/apply/ui/ApplyCardList.tsx
  apps/academy/src/widget/apply/ui/ApplyScheduleBanner.tsx
  apps/academy/src/widget/apply/ui/ApplySection.tsx
  apps/academy/src/widget/apply/ui/ApplyTopBanner.tsx
  apps/academy/src/widget/apply/ui/ApplyTopBannerBackGround.tsx
  apps/academy/src/widget/apply/ui/ApplyTopBannerContents.tsx
  apps/academy/src/widget/apply/ui/BenefitCard.tsx
  apps/academy/src/widget/apply/ui/BenefitCardList.tsx
  apps/academy/src/widget/apply/ui/DescriptionCard.tsx
  apps/academy/src/widget/apply/ui/DescriptionCardList.tsx
  apps/academy/src/widget/apply/ui/OperatingCard.tsx
  apps/academy/src/widget/apply/ui/OperatingCardList.tsx
  apps/academy/src/widget/apply/ui/PriceBanner.tsx
  apps/academy/src/widget/apply/ui/PriceBannerCard.tsx
  apps/academy/src/widget/apply/ui/PriceBannerCardList.tsx
  apps/academy/src/widget/apply/ui/ScheduleBanner.tsx
  apps/academy/src/widget/apply/ui/ScheduleBannerCard.tsx
  apps/academy/src/widget/apply/ui/ScheduleBannerCardList.tsx
  apps/academy/src/widget/apply/ui/TopBanner.tsx
  apps/academy/src/widget/apply/ui/index.ts
  packages/config/styles.css
Labels: ♻️Refactor
